[Desktop Entry]
Version=2023.09.21
Encoding=UTF-8
Name=biblioteq-pan2bq
Comment=Transforme fichier unimarc en csv BiblioteQ
Exec=/opt/biblioteq-pan2bq/lancement-biblioteq-pan2bq.sh
Icon=/opt/biblioteq-pan2bq/biblioteq-pan2bq.png
Terminal=false
Type=Application
Categories=Library
StartupNotify=true
#MimeType=application/x-python;
