Architecture: amd64
Depends:
Maintainer: meteos77
Package: BiblioteQ-pan2bq
Priority: optional
Section: Database
Version: 2023-10-15
Description: transformation fichier Unimarc en csv format import BiblioteQ modèle 1
 Bienvenue dans BiblioteQ-pan2bq
 Transforme fichier unimarc en csv format BiblioteQ Modèle 1.
 Un fichier biblioteq-pan2bq.desktop sera installé dans /usr/share/applications/.
